{% extends 'tracker/base.html' %}

{% block content %}

<div class="stats-container"
     style="background-color: white; border-radius: 1rem; margin-top: 6rem; padding: 2rem; border: 1px solid #D1D5DB; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);">
    <span style="display: flex; place-self: center; margin-bottom: 2rem; font-size: 1.125rem; line-height: 1.75rem; font-weight: 700;  color: #374151;">Add/Update your workout</span>
    <form style="display: flex; flex-direction: column; align-items: center; gap: 3rem" action=""
          method="POST">
        <div style="display: flex; flex-direction: column; justify-content: center; gap: 1rem">
            {% csrf_token %}
            {{ form.as_p }}
            {{ formset.management_form }}
            {% for form in formset %}
            {{ form.as_p }}
            {% endfor %}
        </div>
        <div style="display: flex; gap: 2rem">
            <a href="{% url 'user_details' user.id %}"
               style="display: flex; justify-content: center; align-items: center; font-size: 0.75rem;line-height: 1rem; text-decoration: none; width: 100px"
               class="stats-card-layout-delete-button">
                Cancel
            </a>
            <input class="stats-card-layout-workout-button" style="width: 100px" type="submit" name="Submit">
        </div>
    </form>
</div>
{% endblock %}
